@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #239775;
  --primary-color-lighter: hsl(165, 66%, 43%);
  --primary-color-darker: hsl(165, 66%, 23%);
  --content-bg-color: #0d0d0d;
  --sidebar-bg-color: #171717;
}
